<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>
         <h1>
          <strong>
              <%= @blog.title %>
          </strong>   
        </h1>
      </p>
      <p>
        <strong>
          <%= @blog.body %>
        </strong>
      </p>
        <p>
              <div class="container" >
                <h2>Comentarios</h2>

                <% @blog.comments.each do |comment| %>
                  <div class="panel panel-de123fault">
                    <header class="panel-heading"><img src="<%= Gravatar.new("#{comment.user.email}").image_url %>" class="img-circle" /> <%= comment.user.email %> <%= comment.created_at %> </header>
                    <div class="panel-body"><%= comment.body %></div>
                  </div>
                <% end %>

                <% if signed_in? %>
                  <%= form_for [@blog, @blog.comments.build] do |f| %>
                    <div class="form-group">
                      <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario" %>
                    </div>

                    <div class="actions text-right">
                      <%= f.submit "Comentar", class: "btn btn-primary" %>
                    </div>
                  <% end %>
                <% end %>
        </div>
        <% if signed_in? %>
               <%= link_to 'Edit', edit_blog_path(@blog) %> |
        <% end %>
          <%= link_to 'Back', blogs_path %>  
    </div>
  </div>
</div>